@import "modules/mixins";

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: 'Maven Pro', sans-serif;
}

.displayInline {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

.clear-fix {
	clear: both;
}

.width-100 {
	width: 100%;
}

.res-img {
	width: 100%;
	height: auto;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

//header
header.header {
	padding: 25px 0;
	h1 {
		a {
			display: block;
			width: 250px;
			height: 71px;
			background: url('img/logo.jpg') no-repeat top left;
			span {
				visibility: hidden;
			}
		}
	}
	.navbar-site {
		padding: 30px 0 0 0;
	}
	.navbar-default {
		border: none;
		background: none;
		padding: 0;
		.nav {
			li {
				margin: 0 15px 0 0;
				@extend .displayInline;
				&:last-child {
					margin-right: 0;
				}
				a {
					padding: 5px 10px;
					text-transform: uppercase;
					border: 1px solid #fff;
					color: #8ab0d8;
					font-size: (15/16)#{em} !important;
					@include transition(.2s);
					&:hover {
						border: 1px solid #95c8ea;
						color: #244968;
						text-decoration: none;
					}
				}
			}
		}
	}
}

//banner
.banner-destaque {
	max-height: 500px;
	overflow: hidden;
}

//receitas home
.receitas-home {
	.title-section {
		text-align: center;
		h1 {
			text-transform: uppercase;
			font-size: (42/16)#{em};
			font-weight: normal;
			letter-spacing: 2px;
			padding: 20px 0;
			border: 3px solid #000;
			max-width: 90%;
			vertical-align: middle;
			margin: 110px 0 0 0;
		}
	}
	*[class*="col-"] {
		padding: 0;
		margin: 0;
	}
	article {
		height: 285px;
		position: relative;
		header {
			
			overflow: hidden;
			padding: 0;
			h1 {
				opacity: 0;
				position: absolute;
				width: 100%;
				left: 0;
				bottom: 0;				
				background: #fff;
				padding: 20px 0 20px 10px;
				border-left: 9px solid #000;
				text-transform: uppercase;
				@include transition(.1s);
				a {
					color: inherit;
				}
			}
			&:hover h1 {
				opacity: 1;
			}
		}
	}
}