@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
	 -moz-border-radius: $radius;
	  -ms-border-radius: $radius;
	   -o-border-radius: $radius;
		  border-radius: $radius;
}

@mixin transition($time) {
	-webkit-transition: all $time linear;
   	   -moz-transition: all $time linear;
	    -ms-transition: all $time linear;
	     -o-transition: all $time linear;
	        transition: all $time linear;
}